@media (max-width: 800px) {
  #content {
    width: 100% !important;
  }
}

body {
  font-family: 'CG Times';
  text-transform: lowercase;
  /*pointer-events: none;*/
  margin: 0px;
  margin-top: 50px;
  padding: 4px;
  transition: margin-top 0.4s;
}

/* body:hover {
  margin-top: 70px;
} */

p {
  margin: 0px;
}

a {
  color: black;
  text-decoration: none;
  transition: padding 0.1s;
}

a:hover {
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  padding: 2px;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.box a {
  color: white;
  text-decoration: none;
  transition: padding 0.1s;
}

.box a:hover {
  background-color: black;
  border: 1px solid white;
  border-radius: 6px;
  padding: 2px;
  text-decoration: none;
}

#header {
  color: #212121;
  background-image: url('../assets/images/header.png');
  background-size: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 5px;
  width: calc(100% - 10px);
  height: 40px;
  overflow-y: hidden;
  transition: height 0.4s, transform 0.4s;
}

#header:hover {
  height: 70px;
  transform: translateY(-4px);
}

#title {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 10px;
}

#credits {
  text-align: center;
}

.sep {
  width: 100%;
  height: 10px;
  display: block;
}

.alert {
  background-color: #b0bed0;
  margin: -4px;
  padding: 3px;
  text-align: center;
  margin-bottom: 4px;
}

#content {
  display: block;
  margin: 0 auto;
  transition: width 0.4s;
  width: 65%;
}

.heading {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#boxContainer {
  display: block;
  border-radius: 7px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  cursor: default;
}

#boxContainer #top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#boxContainer #bottom {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.box {
  display: block;
  background-color: #3b3b3b;
  color: black;
  padding: 4px;
  width: calc(100% - 12px);
  border-left: 4px solid green;
  overflow: hidden;
  height: 25px;
  transition: height 0.2s;
}

.box:hover {
  height: 50px;
}

.box .platform {
  font-size: 20px;
  line-height: 27px;
}

.stream {
  display: block;
  width: calc(100% - 10px);
  padding: 5px;
  background-color: #3b3b3b;
  color: black;
  height: 70px;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}

.cover-wrapper {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 12px;
  overflow: hidden;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.stream .cover {
  display: block;
  float: left;
  border-radius: 4px;
  width: 100px;
  height: 100px;
  margin-right: 12px;
  transition: transform 0.4s;
}

.stream:hover .cover {
  transform: scale(1.1)
}

.stream .episode {
  font-size: 20px;
}
