@import url("css/light.css");
@import url("css/dark.css");


@font-face {
    font-family: 'CG Times';
    src: url('assets/fonts/CGTimes-Bold.woff2') format('woff2'),
        url('assets/fonts/CGTimes-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CG Times';
    src: url('assets/fonts/CGTimes-Regular.woff2') format('woff2'),
        url('assets/fonts/CGTimes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CG Times';
    src: url('assets/fonts/CGTimes-Italic.woff2') format('woff2'),
        url('assets/fonts/CGTimes-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CG Times';
    src: url('assets/fonts/CgTimes.woff2') format('woff2'),
        url('assets/fonts/CgTimes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CG Times';
    src: url('assets/fonts/CgTimes-Italic.woff2') format('woff2'),
        url('assets/fonts/CgTimes-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CG Times';
    src: url('assets/fonts/CgTimes-Bold.woff2') format('woff2'),
        url('assets/fonts/CgTimes-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CG Times';
    src: url('assets/fonts/CgTimes-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/CgTimes-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
